@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* Optional: for padding similar to Bootstrap */
    padding-right: 1rem; /* Optional: for padding similar to Bootstrap */
  }
  @screen sm {
    .container {
      max-width: 540px;
    }
  }
  @screen md {
    .container {
      max-width: 720px;
    }
  }
  @screen lg {
    .container {
      max-width: 960px;
    }
  }
  @screen xl {
    .container {
      max-width: 1140px;
    }
  }
  @screen 2xl {
    .container {
      max-width: 1320px;
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spinner {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
}
